{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "linebreak-style": ["error", "windows"]
  },
  "settings": {
    "import/resolver": "webpack"
  }
}