@themeBackgroundColor: lightgreen;

body {
    background: @themeBackgroundColor;
}

.container {
  width: 100%;
  display: flex;
  .image-wrapper {
    display: inline-block;
    margin: 0 10px;
    &__image {
      width: 200px;
      height: auto;
    }
  }
}